<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>

</ion-header> -->
  
<!-- 
<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="submit_login()">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="email" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="password" ngModel></ion-input>
    </ion-item>
    <button ion-button type="submit" block [disabled]="!loginForm.valid">Login</button>
  </form> -->

  <!-- Kalau bisa dibuat Hyperlink ya -->
  <!-- <button ion-button (click)="submit_register()">Register</button>
</ion-content> -->


<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <!-- <h2 ion-text class="text-primary">
        <strong>Ionic 3</strong> Start Theme
      </h2> -->
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="loginForm" (ngSubmit)="submit_login()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input formControlName="password" type="password" ngModel></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="primary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

    <div>
      <button ion-button icon-start tappable (click)="submit_login()" type="submit" block [disabled]="!loginForm.valid">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>
<!-- 
      <p text-center ion-text color="secondary">Or Sign in with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid> -->

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="submit_register()">New here? <strong>Sign up</strong></span>
    </div>

  </div>
</ion-content>
