
  <!-- <form [formGroup]="registerForm" (ngSubmit)="submit_register()">
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input formControlName="first_name" type="text" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input formControlName="last_name" type="text" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
      </ion-item>
      <button ion-button type="submit" block [disabled]="!registerForm.valid">Register</button>
    </form> -->

    <!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <!-- <div class="logo"></div> -->
      <h1 ion-text class="text-primary">
        <strong>REGISTER</strong>
      </h1>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="registerForm" (ngSubmit)="submit_register()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          First Name
        </ion-label>
        <ion-input formControlName="first_name" type="text"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls['first_name'].errors" class="error-msg">
        <span [hidden]="!registerForm.controls['first_name'].errors.required">*First Name is required.</span>
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Last Name
        </ion-label>
        <ion-input formControlName="last_name" type="text"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls['last_name'].errors" class="error-msg">
        <span [hidden]="!registerForm.controls['last_name'].errors.required">*Last Name is required.</span>
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls['email'].errors" class="error-msg">
        <span [hidden]="!registerForm.controls['email'].errors.required">*Email is required.</span>
        <span [hidden]="!registerForm.controls['email'].errors.pattern">*Email invalid.</span>
      </div>

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Codeforces Handle
        </ion-label>
        <ion-input formControlName="cf_handle" type="text"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls['password'].errors" class="error-msg">
        <span [hidden]="!registerForm.controls['password'].errors.required">*Password is required.</span>
      </div>
    
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Confirm Password
        </ion-label>
        <ion-input formControlName="confirm_password" type="password"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls['confirm_password'].errors" class="error-msg">
        <span [hidden]="!registerForm.controls['confirm_password'].errors.required">*Confirm Password is required.</span>
      </div>

      <div margin-top>
        <button ion-button block [disabled]="!registerForm.valid" type="submit">
          SIGN UP
        </button>
      </div>
    </form>

      <!-- <div margin-top>
      <p text-center ion-text color="secondary">Or Sign Up with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="close_register_form()">I have an account</span>
    </div>

  </div>
</ion-content>
