<!--
  Generated template for the ViewMemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class = "detail-bg">
  
    <div class="border-bottom" padding>
        <h1 ion-text color="dark" class="bold" text-center>View Member</h1>  
    </div>

    <ion-list>
        <ion-item ion-item *ngFor="let user of users;let i = index">
            {{i+1}}. {{ user.first_name }} {{ user.last_name }}
            <button ion-button class="pull-right dark-blue-bg" (click) = "onShowAlertDelete(user)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button class="pull-right" (click) = "onShowAlertAngkatPengurus(user)">
                <ion-icon name="md-arrow-round-up"></ion-icon>
            </button>
        </ion-item>
      </ion-list>

      <button ion-button type="submit" (click)="popPage()" class = "dark-blue-bg pull-right" >Back</button>
  
  </ion-content>
