<!--
  Generated template for the TimelineDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>TimelineDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="border-bottom" padding>
      <h1 ion-text color="dark" class=" text-dark-blue bold">{{note.title | uppercase}}</h1>
  </div>

  <!-- <div class="booking-form card round" margin> -->
      <div class="border-bottom" padding>
        <p ion-text>{{ note.text }}</p>
      </div>
      <div class="padding-sm primary-bg">
          <ion-icon name="time" class="text-white"></ion-icon>
          <span ion-text class="text-white">uploaded by {{ note.author }}</span>
          <!-- <span class="pull-right" ion-text color="light"><strong>per adult</strong> (childs has <span ion-text  class="text-green bold">50% OFF</span>)</span> -->
          <ion-icon name="thumbs-up" class="text-white pull-right" > : ..</ion-icon>
      </div>


  <!-- comment -->
  <div padding>
      <h3 ion-text >Comment</h3>

      <p *ngIf="commentLength == 0" text-center class = "text-dark-blue"> No Comment Posted yet... </p>

      <ion-list>
          <ion-card *ngFor="let comment of allComment" class = "background-grey">

            <ion-item class = "background-grey">
              <ion-avatar item-start left>
                <img src="https://image.flaticon.com/icons/png/512/23/23228.png">
              </ion-avatar>
              <h2 class = "bold">{{comment.username}}</h2>
              <p>{{comment.time}}</p>
              <!-- <button ion-button item-end right (click)="openModalDelete(comment)">
                  <ion-icon name="close"></ion-icon>
                  </button> -->
            </ion-item>
             
            <ion-card-content>
              <p>{{comment.content}}</p>
            </ion-card-content>

          </ion-card>
      </ion-list>
  </div>

      

      <hr class = "hr-border">
      <!-- comment box -->
      <form [formGroup]="newCommentForm" (ngSubmit)="addComment()">
          <div class="form-style-2">
            <textarea ion-textarea type="text" formControlName="comment" placeholder="Write your comment here..." class="textarea-field"></textarea>
            <!-- <ion-input type="text" formControlName="name" placeholder="Name">
            </ion-input> -->
            
            <button ion-button type="submit" class = "pull-right dark-blue-bg" [disabled]="!newCommentForm.valid" end>Comment</button>
          </div>
      </form>
    

</ion-content>
