<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EventPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "detail-bg">
    <!-- <ion-card *ngFor="let event of allEvents" class = "card-shadow" >
        <ion-card-content  (click) = "viewDetail(event)" class = "background-image border card-shadow">
            <ion-row>
                <ion-col>
                  <p>{{ event.title }}</p>
                  <p>At {{ event.location }}</p>
                  <p>Start from {{event.start_time}}</p>
                  <p>Until {{event.end_time}}</p>
                </ion-col>
                <ion-col text-center>
                   <ion-img src ="assets/imgs/place/DunkinDonut.jpg" style="width: 80px; height: 80px;" class= "circle-image border"> </ion-img>
                </ion-col>
              </ion-row>
        </ion-card-content>
        <button *ngIf="is_adminss()" ion-button item-end right (click)="openModalDelete(event)">
            <ion-icon name="close"></ion-icon>
            </button>
      </ion-card> -->

      <div>

          <ion-list padding-top>
              <ion-card *ngFor="let event of allEvents">
                
                  <div class="primary-bg">
                      <h1 ion-text class = "text-white bold padding-event" >{{ event.title }}</h1>
                  </div>

                  <ion-item>

                    <ion-avatar item-start left>
                      <div class = "logo-event"></div>
                    </ion-avatar>
                    
                    
                    <span ion-text> At {{ event.location }}</span>
                    <p>Start from {{event.start_time}}</p>
                    <p>Until {{event.end_time}}</p>

                    <span padding-bottom class = "text-dark-blue" tappable (click) = "viewDetail(event)" ><strong>See Detail...</strong></span>
                    <button *ngIf="is_adminss()" ion-button item-end right (click)="openModalDelete(event)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                  </ion-item>
    
                
              </ion-card>
            </ion-list>
      </div>

      <ion-fab right bottom>
        <button ion-fab (click)="createEvent()" bottom>
            <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
      

</ion-content>
