page-event {
    .text-white{
        color: white;
    }
    .padding-event{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
    }

    .logo-event {
        width: 80px; 
        height: 80px;
        border-radius: 10%;
        background: url("../assets/imgs/logo_umnpc.png") no-repeat;
        background-size: 100%;
      }
}
