
<ion-content padding class = "detail-bg">
  
  <!-- <div class="border-bottom" padding>
      <h1 ion-text color="dark" class="bold" text-center>Reset Daily Problem</h1>  
  </div>

  <ion-list>
      <ion-item ion-item *ngFor="let user of users;let i = index">
          {{i+1}}. {{ user.first_name }} {{ user.last_name }}
          <button ion-button class="pull-right dark-blue-bg" (click) = "resetProblem(user)">
              <ion-icon name="refresh"></ion-icon>
          </button>
      </ion-item>
    </ion-list> -->

    <button ion-button class="pull-right dark-blue-bg" (click) = "resetProblem()">
        <ion-icon name="refresh"></ion-icon>
    </button>

    <button ion-button type="submit" (click)="popPage()" class = "dark-blue-bg pull-right" >Back</button>

</ion-content>
