<!--
  Generated template for the TimelinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color = "primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><span ion-text>Timeline</span></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class = "detail-bg">
  <!--list of trips-->
  <!-- <div class="trip card" *ngFor="let timeline of timelines" tappable (click)="viewDetail(timeline.id)" margin-bottom>
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + timeline.thumb + ')'}">
        <h6 class="pull-left text-white" ion-text>{{ timeline.name }}</h6>
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ timeline.name }}</h6>
          <h6 class="pull-right text-white" ion-text>{{ timeline.price_adult | currency:'USD':true }}</h6>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">by {{ timeline.user }}</span>
      <span class="pull-right" ion-text color="light"><strong>per adult</strong> (childs has <span ion-text  class="text-green bold">50% OFF</span>)</span>
    </div>
  </div> -->

  <!-- <ion-card *ngFor="let timeline of timelines" tappable (click)="viewDetail(timeline.id)"> 
    <ion-card-header>
        <h1 class="text-white bold" ion-text>{{ timeline.name }}</h1>
        <p class="text-white">{{ timeline.short_description }} </p> 
    </ion-card-header>
    <ion-card-content text-wrap>
        <div class="padding-sm primary-bg">
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text class="text-white">uploaded by {{ timeline.user }}</span>
            <span class="pull-right" ion-text color="light"><strong>per adult</strong> (childs has <span ion-text  class="text-green bold">50% OFF</span>)</span>
            <ion-icon name="thumbs-down" class="text-white pull-right"> : ..</ion-icon>
            <ion-icon name="thumbs-up" class="text-white pull-right" padding-right = "1em" > : ..</ion-icon>
        </div>
    </ion-card-content>
  </ion-card> -->
  <div padding>

      <ion-list padding-top>
          <ion-card *ngFor="let note of allNotes">
           
              <ion-item>
                <!-- <ion-avatar item-start left>
                  <img src="img/marty-avatar.png">
                </ion-avatar> -->
                <h1 class = "text-dark-blue bold" >{{ note.title }}</h1>
                <p>{{ note.time }}</p>

                <span ion-text> by {{ note.author }}</span>
                <button *ngIf="is_adminss()" ion-button item-end right (click)="openModalDelete(note)">
                <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>

              <span padding-left padding-bottom class = "text-dark-blue" tappable (click) = "viewDetail(note)" ><strong>See Detail...</strong></span>
            
              <div class="primary-bg">
                <ion-col>
                  <button ion-button icon-start clear small class="text-white" (click) = "addLike()">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small class="text-white">
                    <ion-icon name="text"></ion-icon>
                    <div>{{ commentLength }} Comments</div>
                  </button>
                </ion-col>
              </div>
          </ion-card>
        </ion-list>
  </div>
 

  <ion-fab right bottom>
      <button ion-fab (click)="openAddModal()" bottom>
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>