<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SettingsPage</ion-title>
    <!-- <ion-buttons end>
        <button item-end *ngIf = "!isEdit" ion-button (click) = "edit_account()">
            Edit
        </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button item-end *ngIf = "isEdit" ion-button (click) = "account_setting()">
          Back
      </button>
  </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content class="auth-page">
  
  <div *ngIf = "!isEdit" class="login-content"> 
        <!-- Logo -->
        <!-- <div padding text-center>
            
          <div class="logo"></div>
          <h2 ion-text class="text-primary">
            <strong>Ionic 3</strong> ini foto
          </h2>
          <ion-img width="150" height="150" src="https://via.placeholder.com/150"></ion-img>
        </div> -->
    
        <!-- Account Setting -->
        <form class="list-form">

          <ion-icon name="person" item-start class="text-primary"></ion-icon>
            <span class = "all"> Name </span>
          <ion-label>
            {{ current_user.first_name }} {{ current_user.first_name }} 
          </ion-label>
    
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            <span class = "all"> Email </span>
          <ion-label>
             {{ current_user.email }} 
          </ion-label>

          <ion-icon name="contact" item-start class="text-primary"></ion-icon>
            <span class = "all"> Status </span>
          <ion-label>
              {{ current_user.status }}
          </ion-label>

          <!-- <ion-icon name="home" item-start class="text-primary"></ion-icon>
              <span class = "all"> CF Handle </span>
          <ion-label>
            {{ current_user.cf_handle }}
          </ion-label> -->

          <ion-icon name="home" item-start class="text-primary"></ion-icon>
              <span class = "all"> Score </span>
          <ion-label>
          
          </ion-label>
    

          </form>

          <button ion-button icon-start tappable (click)="edit_account()" block >
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
    
  </div>

  <div *ngIf = "isEdit" class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <!-- <div class="logo"></div> -->
      <!-- <h2 ion-text class="text-primary">
        <strong>Ionic 3</strong> ini edit foto
      </h2> -->
      <!-- <ion-img tappable (click) = "openImagePicker()" width="150" height="150" src="https://via.placeholder.com/150"></ion-img> -->
    </div>

    <!-- Account Setting -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Name
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <!-- <ion-item>
          <ion-label floating>
            <ion-icon name="contact" item-start class="text-primary"></ion-icon>
            Status
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="home" item-start class="text-primary"></ion-icon>
          CF Handle
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="star" item-start class="text-primary"></ion-icon>
          Score
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->
      </form>

      <button ion-button (click)="openModal()">Change Password</button>

      <button ion-button icon-start tappable (click)="account_setting()">
          <ion-icon name="log-in"></ion-icon>
          Save
      </button>

  </div>
</ion-content>
