<!--
  Generated template for the EventModalCalenderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>
 


<ion-content class = "detail-bg">

  <div class="login-content">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
    </ion-list>

  </div>

  <!-- <div class="form-style-2">
      <label>
        <span> Title <span class="required">*</span></span>
        <input ion-input type="text" class="input-field"  [(ngModel)]="event.title"/>
      </label>

      <label>
        <span> Start <span class="required">*</span></span>
        <input class="input-field" type = "datetime-local" ion-datetime [(ngModel)]="event.startTime" [min]="minDate"/>
      </label>

      <label>
        <span> End <span class="required">*</span></span>
        <input class="input-field" type = "date" ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"/>
      </label>

      <ion-item no-lines class = "detail-bg">
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>

  </div> -->
 
  <div text-center>
    <button ion-button icon-left (click)="save()">
      <ion-icon name="checkmark"></ion-icon> Add Event
    </button>

    <button ion-button icon-left (click)="popPage()" class = "dark-blue-bg">
      <ion-icon name="close"></ion-icon> Cancel
    </button>
  </div>
</ion-content>
