<!--
  Generated template for the SettingsPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings_password</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Old Password
          </ion-label>
        <ion-input type="Password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
            New Password
          </ion-label>
        <ion-input type="Password"></ion-input>
    </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Confirm Password
          </ion-label>
        <ion-input type="Password"></ion-input>
    </ion-item>

    <button ion-button icon-start tappable>
        <ion-icon name="log-in"></ion-icon>
          Save
    </button>
 

</ion-content>
