<ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar text-center class="text-white user-profile">
            <h2>Menu</h2>
            <ion-grid>
                <ion-row no-padding class="other-data">
                    <ion-col no-padding class="column">
                        <button ion-button icon-left clear small full color="light" (click)="show_page(settingsPage)">
                            <ion-icon item-left name="settings"></ion-icon>
                            Profile
                        </button>
                    </ion-col>
                    <ion-col no-padding class="column">      
                        <button ion-button icon-left clear small full color="light" (click)="sign_out()">
                            <ion-icon item-left name="log-out"></ion-icon>
                            Sign Out
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid> 
        </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="!is_admin()">
        <ion-list class="user-list">
            <button ion-item (click)="show_page(timelinePage)">
                <ion-icon item-left name="time"></ion-icon>
                Timeline
            </button>
            <button ion-item (click)="show_page(dailyQuizPage)">
                <ion-icon item-left name="book"></ion-icon>
                Daily Quiz
            </button>
            <button ion-item (click)="show_page(dailyProblemPage)">
                <ion-icon item-left name="bulb"></ion-icon>
                Daily Problem
            </button>
            <button ion-item (click)="show_page(leaderboardPage)">
                <ion-icon item-left name="trophy"></ion-icon>
                Leaderboard
            </button>            
            <button ion-item (click)="show_page(eventPage)">
                <ion-icon item-left name="clipboard"></ion-icon>
                Events
            </button>            
            <button ion-item (click)="show_page(calendarPage)">
                <ion-icon item-left name="calendar"></ion-icon>
                Calendar
            </button>            
            <button ion-item (click)="show_page(chatroompage)">
                <ion-icon item-left name="chatboxes"></ion-icon>
                Chat
            </button>
            <button *ngIf="is_adminss()" ion-item (click)="show_page(adminPage)">
                <ion-icon item-left name="chatboxes"></ion-icon>
                Admin
            </button>                      
        </ion-list>
    </ion-content>

    <ion-content *ngIf="is_admin()">
        <ion-list>
            <button ion-item (click)="show_page(verifyUserPage)">
                <ion-icon item-left></ion-icon>
                Verify User
            </button>
            <button ion-item (click)="show_page(listMemberPage)">
                <ion-icon item-left></ion-icon>
                View Member
            </button>
            <button ion-item (click)="show_page(listCommitteePage)">
                <ion-icon item-left></ion-icon>
                View Committee
            </button>
            <button ion-item (click)="sign_out()">
                <ion-icon item-left></ion-icon>
                Sign Out
            </button>        
        </ion-list>
    </ion-content>
</ion-menu>
<!-- 
<ion-menu [content]="navDrawer">
    <ion-header>
        <ion-toolbar text-center>
            <h2>Menu</h2>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="onLoad(loginPage)">
                <ion-icon  item-left></ion-icon>
                Login
            </button>
            <button ion-item (click)="onLoad(signUp)">
                <ion-icon  item-left></ion-icon>
                Sign Up
            </button>
        </ion-list>
    </ion-content>
</ion-menu> -->

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
