<!--
  Generated template for the VerifyUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class = "detail-bg">

    <div class="border-bottom" padding>
        <h1 ion-text color="dark" class="bold" text-center>Verify User</h1>  
    </div>

    <ion-list>
        <ion-item ion-item *ngFor="let user of users;let i = index">
            <span ion-text class= "center-vertical">{{i+1}}. {{ user.first_name }} {{ user.last_name }}</span>
            <button ion-button class="pull-right dark-blue-bg" (click) = "onShowAlert(user)">
                <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

    <button ion-button type="submit" (click)="popPage()" class = "dark-blue-bg pull-right" >Back</button>

</ion-content>
