<!--
  Generated template for the ChatroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>chatroom</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div id="chatmessages">
  
      <div *ngFor="let message of messages" [class]="message.specialMessage ? 'messages special' :'messages'" >
        <div [class]="message.username==username ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <div text-wrap class="username">{{message.username}}</div>
          <div text-wrap class= "message">{{message.message}}</div> 
          <!-- <ion-datetime displayFormat="MMM DD, h:mm A" disabled [(ngModel)]="myDate">{{message.time}}</ion-datetime> -->
          <div ion-text class="datecolor">{{message.time | date:'medium'}}</div>
        </div>
      </div>
  
    </div>
  </ion-content>
  
    <ion-footer>
  
        <div id="footer">
          <div class="elem1">
        <ion-input type="text" [(ngModel)]="message"></ion-input>
          </div>
          <div class="elem2">
          <button ion-button icon-only (click)="sendMessage()"> <ion-icon name="send"></ion-icon></button>
          </div>
        </div>
    </ion-footer>
  
