<!--
  Generated template for the EventdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>eventdetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "detail-bg">
    <!-- <p>{{ event.title }}</p>
    <p>At {{ event.location }}</p>
    <p>Start from {{event.start_time}}</p>
    <p>Until {{event.end_time}}</p>
    <p>deskripsi : {{event.text}}</p> -->

    <div class="border-bottom" padding>
        <h1 ion-text color="dark" class=" text-dark-blue bold">{{event.title | uppercase}}</h1>
    </div>
  
    <!-- <div class="booking-form card round" margin> -->
        <div class="border-bottom" padding>
            <p>At {{ event.location }}</p>
            <p>Start from {{event.start_time}}</p>
            <p>Until {{event.end_time}}</p>
            <p>Notes : {{event.text}}</p>
        </div>
        <!-- <div class="padding-sm primary-bg">
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text class="text-white">uploaded by {{ note.author }}</span>
            <span class="pull-right" ion-text color="light"><strong>per adult</strong> (childs has <span ion-text  class="text-green bold">50% OFF</span>)</span>
            <ion-icon name="thumbs-up" class="text-white pull-right" > : ..</ion-icon>
        </div> -->
  
  
    <!-- comment -->

</ion-content>
