<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Note Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Note Content</h1>
  <p>{{targetNote.text}}</p>
</ion-content>
