page-admin {

    
ion-grid {
    height: 100%;
}

ion-row {
    height: 50%;
    width:100%;
    // vertical-align: middle;
}

ion-col{
    border: 2px ridge white;
    height:100%;
    width: 100%;       
    color: white;
    text-align: center;
    // background-color: #498aff;
    // background-color: white;
}

.center-pos{
    text-align: center;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
}

.col-1-bg{
    background-color: #498aff;
}


.icon-size{
    font-size: 4em;
}

.text-size{
    font-size: 16px;
}

}

// * {
//   box-sizing: border-box;
// }

// .square-container {
//   padding: 8px;
// }

// .square {
//   width: calc(100% / 5);
//   float: left;
//   position: relative;
//   padding-bottom: calc(100% / 5);
// }

// .square .content {
//     width: calc(100% - 16px);
//     height: calc(100% - 16px);
//     margin: 8px;
//     padding: 16px;
//     position: absolute;
//     color: white;
//     background-color: #0095ff;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
// }
