<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>comment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
  <ion-col bottom>
  <form [formGroup]="newCommentForm" (ngSubmit)="addComment()">
      <ion-input type="text" formControlName="name" placeholder="Name">
      </ion-input>
      <ion-input type="text" formControlName="comment" placeholder="Comment">
      </ion-input>
      <button ion-button type="submit" color="primary" end>Comment</button>
  </form>
  </ion-col>
</ion-content>
